# Python virtual environment
.venv/
venv/
ENV/

# Python cache files
__pycache__/
*.py[cod]
*$py.class

# Log files
*.log

# IDE files
.idea/
.vscode/

# Model files
models/*.pkl
models/*.json

# Distribution / packaging
dist/
build/
*.egg-info/ 